*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body{
 width: 100vw;
 height: 100vh;
 background-color: rgb(57, 28, 28);
 display: flex;
 justify-content: center;
 align-items: center;
}
div{
position: relative;
}

#input{
 width: 2.2rem;
 height: 1.5rem;
 border: 2px solid rgba(0, 0, 0, 0.9);
 border-radius: 4px;
 transition: 0.5s;
 font-family: sans-serif;
 color: rgb(34, 34, 34);
}
#input:focus-visible{
 /* border: none; */
 outline: none;
}
#search-icon{
 position: absolute;
 right: 9px;
 top: 4px;
 transition: 0.5s;
}

#input.input{
 width: 15rem;
}